extends layout

block content
  h1= title
  - var donuts = results
  - let result;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each result, index in donuts
        div(class='col-sm-2' onclick='buy('+index+')') 
          p #{result["donut_type"]}
          p #{result["quantity"]}
          p #{result["cost"]}