extends layout 
 
block content 
  h1= title 
 
  form(id='DonutsForm', action="/resource/donuts", method="POST") 
    div.form-group 
        label.donutsAttr(for='donut_type') Donuts type 
        input#donut_type(type='text', name='donut_type') 
    div.form-group 
        label.donutsAttr(for='quantity') Donuts quantity 
        input#quantity(type='number', name='quantity') 
    div.form-group 
        label.donutsAttr(for='cost') Donuts cost 
        input#cost(type='number', name='cost') 
    div.form-group 
        label.dountsAttr(for='toppings') Donuts Toppings
        input#size(type='number', name='toppings',value=toppings min=0, max=3)

    button(class="btn btn-danger m-2" onclick="createeOnid()") Create 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the mango collection 
      window.location.href='/mangos' 
    } 
 
  script.
    function createOnid() {
    document.forms['DonutsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });
    }